<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gaiawarts</title>
</head>
<body>
  <div class="container">
    
  <form action="/base" method="GET">
    <div class="col-xs-6"><input type="text" placeholder="housepassword" name="housepw"></div>
  <div class="col-xs-6"><button type="submit">Submit</button></div>
  
  
  </form>
    <a href="https://twitter.com/GaiaWarts" title="twitter"><b>go to twitter</b></a>
</div>
    </body>
</html>