<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gaiawarts</title>
</head>

    login
  <form action="/base" method="GET">
  <input type="text" placeholder="housepassword" name="housepw">
  <button type="submit">Submit</button>
</form>
</body>

<body>
    <a href="https://twitter.com/GaiaWarts" title="twitter"><b>go to twitter</b></a>
    </body>
</html>